nav {
  height: 120px;
  width: 100%;
  background-color: #6f9ca6;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

nav span {
  font-family: 'Bungee', cursive;
  margin: 1.5em;
  display: inline-block;
}
.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
}
nav p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
nav i {
  color: red;
  margin-top: 8px;
  transition: all 0.3s ease;
  position: relative;
  top: 0px;
  left: 0px;
  position: relative;
  z-index: 999;
}

i:hover {
  top: 5px;
  box-shadow: 5px 5px 15px #020d0c;
}
