.new-tweet .errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.error1 {
  color: red;
  box-sizing: border-box;
  border: red solid 2px;
  padding: 5px 20px;
  margin: 10px 0 0 0;
  display: none;
}
.error2 {
  color: red;
  box-sizing: border-box;
  border: red solid 2px;
  padding: 5px 20px;
  margin: 10px 0 0 10px;
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}
textarea {
  border: none;
  border-bottom: #020d0c solid 4px;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: 'Bungee', cursive;
  font-size: 1rem;
  background-color: #6f9ca6;
  color: white;
  border: none;
  margin: 10px 0;
}

output {
  font-family: 'Bungee', cursive;
  font-size: 1rem;
  color: #020d0c;
  border: none;
  margin: 10px 0;
}
